header {
  display: flex;
  height: 64px;
  width: 90%;
  background-color: #d6d6d6;
  box-shadow: 0 1px 1px #ccc;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  z-index: 1;
  position: relative;
  align-items: center;
  margin: 1% auto;
  border: 3px solid #f58f7c;
  box-sizing: border-box;
}

header #title {
  padding-top: 4.5%;
  float: left;
  color: black;
  text-decoration: none;
  margin-left: 5px;
  font-family: Jazz LET, fantasy;
  width: 100%;
  font-size: 40px;
}

.header-btn {
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  text-align: center;
  color: #3c3d3f;
  background: #ffffff;
  border: 2px #3c3d3f solid;
  padding: 15px 10px 0px 10px;
  display: inline-block;
  text-decoration: none;
}

#error-box {
  color: red;
  visibility: hidden;
}

#error-box::before {
  content: "Error: ";
}

.btn {
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #3c3d3f;
  background: #ffffff;
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
}

.btn {
  background: #3c3d3f;
  color: #ffffff;
  cursor: pointer;
}

.kiaButton:hover {
  background-color: white;
  color: var(--mainColor);
}

.kiaButton:active {
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}

.kiaButton {
  display: inline;
  color: white;
  background-color: var(--mainColor);
  border-color: #0f1225;
  font-size: 84%;
  border-radius: 12em;
  border: 1.5px solid;
  transition-duration: 0.35s;
  box-shadow: 0 3px #999;
  cursor: pointer;
}

// .joinButton {
//   width: 5vw;
//   min-width: 40px;
//   height: 4vh;
//   margin-right: 1%;
//   display: inline;
//   position: unset;
//   float: right;
//   white-space: normal;
// }
