:root {
  --darkBase: #2c2b30;
  --Base: #4f4f51;
  --textColor: #d6d6d6;
  --lightBase: #f2c4ce;
  --mainColor: #f58f7c;
}

#lobbyInfo {
  text-align: center;
  color: var(--textColor);
}
.roomRow {
  background-color: var(--Base);
  display: inline;
  height: 5vh;
  width: 94%;
  color: var(--textColor);
  border-radius: 4px;
  margin: 1% 2% 1% 2%;
  padding: 1%;
  vertical-align: middle;
  white-space: nowrap;
}
.roomRow:hover {
  background-color: var(--textColor);
  color: var(--darkBase);
}
#lobbyList {
  width: 60%;
  border: 1px solid var(--mainColor);
  margin: 2%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--darkBase) !important;
  max-width: 85%;
  height: 95vh;
  border-radius: 2px;
  margin: auto;
  align-items: center;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.lobbyhtml {
  background-color: #2c2b30;
  height: 110vh;
}

h1 {
  color: var(--textColor);
  font-size: 2em;
  margin: 5%;
  padding: 0;
  text-align: center;
}

.kiaButton {
  display: inline;
  color: white;
  background-color: var(--mainColor);
  border-color: #0f1225;
  font-size: 84%;
  border-radius: 12em;
  border: 1.5px solid;
  transition-duration: 0.35s;
  box-shadow: 0 3px #999;
  cursor: pointer;
}

#matchmake,
#roomCreate {
  width: 15vw;
  height: 5vh;
}

#matchmake {
  float: left;
}

#roomCreate {
  float: right;
}

.kiaButton:hover {
  background-color: white;
  color: var(--mainColor);
}

.kiaButton:active {
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}

.joinButton {
  width: 5vw;
  min-width: 40px;
  height: 4vh;
  margin-right: 1%;
  display: inline;
  position: unset;
  float: right;
  white-space: normal;
}

.info {
  color: #666;
  font-size: 12px;
  transition: 0.1s;
  overflow: hidden;
}

.info:focus-within {
  color: var(--mainColor);
  font-size: 15px;
}

.infoField {
  outline: none;
  background-color: rgba(255, 255, 255, 0.13);
  width: 90%;
  color: #666;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5;
  resize: none;
  border-radius: 10px;
  border: 1px solid #555;
  font-size: 15px;
  margin: auto;
  margin-bottom: 1.5%;
  padding: 0.5%;
}

.infoField:focus {
  border: 3px solid var(--mainColor);
  background-color: white;
  font-size: 15px;
  color: black;
  outline: none;
}
