<!DOCTYPE html>
<html class="gamehtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Onitama</title>
    <link href="game.component.scss" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1 id="p1Title">Empty</h1>
    <table>
      <tr>
        <td data-row="5" data-col="1"></td>
        <td data-row="5" data-col="2" class="td2"></td>
        <td data-row="5" data-col="3"></td>
        <td data-row="5" data-col="4" class="td2"></td>
        <td data-row="5" data-col="5"></td>
      </tr>
      <tr>
        <td data-row="4" data-col="1" class="td2"></td>
        <td data-row="4" data-col="2"></td>
        <td data-row="4" data-col="3" class="td2"></td>
        <td data-row="4" data-col="4"></td>
        <td data-row="4" data-col="5" class="td2"></td>
      </tr>
      <tr>
        <td data-row="3" data-col="1"></td>
        <td data-row="3" data-col="2" class="td2"></td>
        <td data-row="3" data-col="3"></td>
        <td data-row="3" data-col="4" class="td2"></td>
        <td data-row="3" data-col="5"></td>
      </tr>
      <tr>
        <td data-row="2" data-col="1" class="td2"></td>
        <td data-row="2" data-col="2"></td>
        <td data-row="2" data-col="3" class="td2"></td>
        <td data-row="2" data-col="4"></td>
        <td data-row="2" data-col="5" class="td2"></td>
      </tr>
      <tr>
        <td data-row="1" data-col="1"></td>
        <td data-row="1" data-col="2" class="td2"></td>
        <td data-row="1" data-col="3"></td>
        <td data-row="1" data-col="4" class="td2"></td>
        <td data-row="1" data-col="5"></td>
      </tr>
    </table>
    <h1 id="p2Title">Empty</h1>
    <h2 id="crowdJeer"></h2>
    <div id="cards">
      <button class="card" id="card1" style="float: left"></button>
      <button class="card" id="card2" style="float: right"></button>
    </div>

    <footer>
      <a href="/credits.html">credits</a>
    </footer>
  </body>
</html>
