:root {
  --darkBase: #2c2b30;
  --Base: #4f4f51;
  --textColor: #d6d6d6;
  --lightBase: #f2c4ce;
  --mainColor: #f58f7c;
}

table {
  border: 3px solid var(--lightBase);
}
td {
  width: 6vw;
  height: 6vw;
  /* center the pieces*/
  vertical-align: middle;
  text-align: center;
  margin: 0;

  background-color: var(--mainColor);
}
.td2 {
  background-color: var(--textColor);
}

.pawn {
  width: 2.5vw;
  height: 2.5vw;
  margin: auto;
  background-color: black;
  /* border: 2px solid white; */
  border-radius: 50%;
}

.king {
  width: 2.5vw;
  height: 2.5vw;
  margin: auto;
  padding: 1;
  background-color: black;
  border: 4px solid gold;
  border-radius: 50%;
}

.aTeam {
  background-color: darkred;
}

.bTeam {
  background-color: indigo;
}
