<form class="complex-form" (submit)="signIn()" [formGroup]="signInForm">
  <div class="form-title">Sign In</div>
  <input
    type="text"
    name="username"
    class="form-element"
    placeholder="username or email"
    required
    formControlName="username"
  />
  <input
    type="password"
    name="password"
    class="form-element"
    placeholder="Your password"
    required
    formControlName="password"
  />
  <div>
    <button id="signin" name="action" class="btn">Sign in</button>
  </div>
  <div>
    <button (click)="auth.loginWithRedirect()">Log in</button>
  </div>
  <div>
  <a href="#">Forgot Password?</a>
  </div>
</form>

<form class="complex-form" (submit)="signUp()" [formGroup]="signUpForm">
  <div class="form-title">Sign Up</div>
  <input
    type="text"
    name="username"
    class="form-element"
    placeholder="Enter a username"
    required
    formControlName="username"
  />
  <input 
    type="email"
    name="email"
    class="form-element"
    placeholder="Enter an email"
    required
    formControlName="email"
  />
  <input
    type="password"
    name="password"
    class="form-element"
    placeholder="Enter a password"
    required
    formControlName="password"
  />
  <div>
    <button id="signup" name="action" class="btn">Sign up</button>
  </div>
</form>
